In [1]:
import csv

### Reading the raw Carbon nanotube raw dataset

In [30]:
## adjusting the data in to columns , total 8 attributes
## splitting the data with delimiter ;

file_in_list = []
with open("carbon_nanotubes.csv", 'r') as file:
    data = csv.reader(file,delimiter = '\n')
    #header = next(data)
    #print(header)
    for i in data:
        file_in_list.append(i[0].split(';'))

### writing the updated data in to csv file

In [24]:
## writing the updated data in to csv file
with open('CarbonUpdatedFile.csv', 'w', newline='') as data:
    writer = csv.writer(data)
    writer.writerows(file_in_list)

### Creating a database in MySQL

In [25]:
import mysql.connector as connection

try:
    #mydb = connection.connect(host="127.0.0.1",user="root", passwd="1Bhanu*1",use_pure=True)
    mydb = connection.connect(host="localhost",user="root", passwd="1Bhanu*1",use_pure=True)
    # check if the connection is established

    query = "Create database CarbonNanoTube;"

    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print("Database Created!!")    

except Exception as e:
    mydb.close()
    print(str(e))

Database Created!!

### Creating a table

In [27]:
query = "CREATE TABLE CarbonNanoTube.NanoTubeDetails (Chiralindicen INT,Chiralindicem INT,Initialatomiccoordinateu varchar(20), Initialatomiccoordinatev varchar(20),Initialatomiccoordinatew varchar(20), Calculatedatomiccoordinatesu varchar(20), Calculatedatomiccoordinatesv varchar(20), Calculatedatomiccoordinatesw varchar(20));"
print(query)

CREATE TABLE CarbonNanoTube.NanoTubeDetails (Chiralindicen INT,Chiralindicem INT,Initialatomiccoordinateu varchar(20), Initialatomiccoordinatev varchar(20),Initialatomiccoordinatew varchar(20), Calculatedatomiccoordinatesu varchar(20), Calculatedatomiccoordinatesv varchar(20), Calculatedatomiccoordinatesw varchar(20));

In [28]:
cursor = mydb.cursor() #create a cursor to execute queries
cursor.execute(query)
print("Table Created!!")

Table Created!!

### Inserting data into Table

In [29]:
with open('CarbonUpdatedFile.csv','r') as data:
    #next(data)
    data_csv = csv.reader(data, delimiter = '\n')
    next(data_csv)
    print(data_csv)
    for j in data_csv:
        query = "INSERT INTO CarbonNanoTube.NanoTubeDetails values ({});".format(', '.join([value for value in j]))
        cursor.execute(query)
mydb.commit()
print("Values inserted")

<_csv.reader object at 0x0000016593CF4580>
Values inserted

### Inserted tables values from Sql work Bench

<img src="Carbon_nano_Sql.png" width="900"/>