# 1. Write a Python program to add an item in a tuple.

In [48]:
tup1 = (2,3,4,7)
print('tuple before adding an item', tup1)
tup1 = tup1 + (9,)
print('tuple after adding an item', tup1)

tuple before adding an item (2, 3, 4, 7)
tuple after adding an item (2, 3, 4, 7, 9)

# 2. Write a Python program to reverse a tuple.

In [26]:
tup1 = (2,3,4,7)
revTup = reversed(tup1)
print(tuple(revTup))

(7, 4, 3, 2)

# 3. Swap the following two tuples
tuple1 = (11, 22)

tuple2 = (99, 88)

In [34]:
tuple1 = (11,22)
tuple2 = (99,88)

print('tuple1 before swap :',tuple1)
print('tuple2 before swap :',tuple2)

tupletmp = tuple1
tuple1 = tuple2
tuple2 = tupletmp

print('tuple1 after swap:',tuple1)
print('tuple2 after swap:',tuple2)

tuple1 before swap : (11, 22)
tuple2 before swap : (99, 88)
tuple1 after swap: (99, 88)
tuple2 after swap: (11, 22)

# 4. Modify the first item (22) of a list inside a following tuple to 222
## tuple1 = (11, [22, 33], 44, 55)

In [40]:
tuple1 = (11, [22, 33], 44, 55)
tuple1[1][0] = 222
print('Updated list values in the tuple',tuple1)

Updated list values in the tuple (11, [222, 33], 44, 55)

# 5. Write a Python program to unpack a tuple in several variables

In [47]:
tup1 = (2,4,5,6)
a, b, c, d = tup1
print(' a : {}\n b : {}\n c : {}\n d : {}'.format(a,b,c,d))

 a : 2
 b : 4
 c : 5
 d : 6

# 6. Write a Python program to add member(s) in an empty set.

In [63]:
set1 = set()
type(set1)
set1.add(2)
set1.add(3)
set1.update([4,5])
print(set1)

{2, 3, 4, 5}

# 7. Write a Python program to create an intersection of sets

In [74]:
set1 = set([2,3,4,6,7,8])
set2 = set([3,7,9,4,1,10])
inter= set1.intersection(set2)
print('set1',set1)
print('set2',set2)
print('intersection of set1 and set 2 ',inter)

set1 {2, 3, 4, 6, 7, 8}
set2 {1, 3, 4, 7, 9, 10}
intersection of set1 and set 2  {3, 4, 7}

# 8. Write a Python program to create a symmetric difference (or disjunctive union) in sets.

In [81]:
set1 = set(["Red","Blue","White"])
set2 = set(["Blue","Green","Yellow"])
print('set1',set1)
print('set2',set2)
symmetric_diff = set1.symmetric_difference(set2) 
#symmetric_diff = set1 ^ set2
print('Symmetric difference is ',symmetric_diff)

set1 {'White', 'Blue', 'Red'}
set2 {'Yellow', 'Blue', 'Green'}
Symmetric difference is  {'White', 'Green', 'Red', 'Yellow'}

# 9. Return a set of identical items from a given two Python set
## set1 = [10, 20, 30, 40, 50]
## set2 = [30, 40, 50, 60, 70]

In [89]:
set1 = set([10, 20, 30, 40, 50])
set2 = set([30, 40, 50, 60, 70])
print('set1',set1)
print('set2',set2)
inter= set1.intersection(set2)
print('Identical items (intersection) ',inter)

set1 {40, 10, 50, 20, 30}
set2 {70, 40, 50, 60, 30}
Identical items (intersection)  {40, 50, 30}

# 10. Remove 10, 20, 30 elements from a following set at once
## set1 = {10, 20, 30, 40, 50}

In [105]:
set1 = set([10,20,30,40,50])
set2 = set([10,20,30])
print('set1 :',set1)
print('set2 - items to be deleted :',set2)
dif_set = set1 -set2
print('removed elements 10,20,30 from the set1',dif_set)

# or 

set1.difference_update(set2)
print('removed elements 10,20,30 from the set1',set1)

set1 : {40, 10, 50, 20, 30}
set2 - items to be deleted : {10, 20, 30}
removed elements 10,20,30 from the set1 {40, 50}
removed elements 10,20,30 from the set1 {40, 50}

# 11. Access value 20 from the following tuple
## example = ("Pooja", [10, 20, 30], (25, 50, 15))

In [110]:
tup1 = ("Pooja", [10, 20, 30], (25, 50, 15))
print('Accessing value 20 from tuple -: ',tup1[1][1])

Accessing value 20 from tuple -:  20

# 12. Count the number of occurrences of item 50 from a tuple
## numbers = (50, 10, 60, 70, 50)

In [115]:
numbers = (50, 10, 60, 70, 50)
print('tuple : ', numbers)
print("Occurrences of item 50 in tuple : ",numbers.count(50))

tuple :  (50, 10, 60, 70, 50)
Occurrences of item 50 in tuple :  2